/* COMMON */

body{
    font-famliy: "inter", sans-serif;
    font-weight:600;
    color: black;
}

.font-primary{
    color:#722F37;
}
.title-icon{
    font-size: 20px;
    font-weight:bold;
}

p{
    font-size: 14px;
}

h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black{
    color: black !important;
}
/* ABOUT */

#about{
    text-align: center;
    max-width: 400px;
    margin: 60px auto;
}

#about img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name{
    font-size: 19px;
    margin-bottom: 10px;
}

#about .vocation{
    font-size: 17px;
    color: #777777;
    margin-bottom: 10px;
    font-weight: 350;
}

#about .skills{
    font-size: 14px;
    color: #722F37;
    margin-bottom: 10px;
    font-weight: 350;
}

#about .email{
    margin-top: 14px;
    font-size: 14px;
    font-weight: 350;
}

#about .icons{
    margin-top: 20px;
    font-size: 25px;
}

#about .icons a{
    color: black;
}

#about p{
    font-weight: 375;
}

/* PROJECTS */

#Project {
    margin: 60px auto;
    width: 80%;
}

#Project h2 {
    text-align: center;
}

#Project .card img {
    width: 100%;
}

#Project .card-text {
    font-weight: lighter;
}
